@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

html,
body {
  height: 100%;
  background-color: #f3f3f3;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}

.title > * {
  padding: 5px;
}

.calculator {
  width: 400px;
  height: 450px;
  position: absolute;
  top: 55%;
  left: 50%;
  margin: -225px 0 0 -200px;
  background-color: #202020;
  border: 10px solid #202020;
  border-radius: 5px;
}

#res {
  background-color: #f3f3f3;
  height: 70px;
  border: 1px inset black;
  margin-bottom: 4px;
  font-size: 42px;
  text-align: right;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 4px;
  height: calc(100% - 74px);
}

button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

button:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

button:active {
  transform: scale(1.1);
  transition: all 0.4s;
}

#btn0 {
  grid-column: span 2;
}

.operations,
.displayClass {
  background-color: #ff8f1f;
}

.buttonClass,
#btnDot {
  background-color: #1f8fff;
}

#btnClr {
  background-color: #30d657;
}

#btnDel {
  background-color: rgb(243, 85, 50);
}

footer {
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

a {
  color: red;
}
